
<div class="container-fluid h-100">

    <div style="left: 1%; top:1%; z-index: 10" class="position-absolute">

        <input type="checkbox" class="btn-check" id="inputToggleColor" onclick="toggleColor(this.checked)">
        <label class="btn toggle-btn btn-outline-light" for="inputToggleColor"><i class="fas fa-adjust"></i></label>

    </div>
        
    <div style="right: 1%; top:1%; z-index: 10" class="position-absolute">

        <input type="checkbox" class="btn-check" id="inputToggleAccumulated" onclick="toggleAccumulated(this.checked)">
        <label class="btn toggle-btn btn-outline-light" for="inputToggleAccumulated"><i id="iconToggleAccumulated" class="fas fa-eye"></i></label>

    </div>


    <div class="row justify-content-center text-center text-white py-3">

        <h1 class="toggle-color text-color dark mb-3">{{rightDebtor.nameShow}}</h1>

        <div class="col-8 col-lg-4">
            <div class="table-responsive">
                <table class="table table-lg table-bordered toggle-color text-color dark">
                    <thead class="align-middle toggle-color dark">
                        <tr>
                            <th scope="col" data-bs-toggle="tooltip" title="Total">Total</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        <tr>
                            <td class="{{rightDebtor.totalAux}}">{{rightDebtor.total}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-12 col-lg-11">
            <div class="table-responsive">
                <table class="table table-sm table-bordered toggle-color text-color dark small">
                    <thead class="align-middle toggle-color dark">
                        <tr>
                            <th scope="col" class="fieldState0 d-none">Data</th>
                            <th scope="col" class="fieldState1">Data</th>
                            <th scope="col">Info</th>
                            <th scope="col">Valor</th>
                            <th scope="col" class="fieldState0 d-none">Acumul.</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle toggle-color dark">
                        {{#each allBillsDebtor}}

                            <tr class="oneBill">
                                
                                <td class="fieldState0 d-none">{{dateShort}}</td>
                                <td class="fieldState1">{{dateFull}}</td>
                                <td>{{info}}</td>
                                <td class="{{valueAux}}">{{value}}</td>
                                <td class="{{accumulatedValueAux}} fieldState0 d-none">{{accumulatedValue}}</td>
                            </tr>

                        {{/each}}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- JS-->
<script src="/js/index.js"></script>
